@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/Inter-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather-Bold";
  src: url("../fonts/Merriweather-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../fonts/Inter-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter-Regular", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

span {
  display: inline-block;
  color: #fff;
}

li {
  list-style: none;
}

input,
button,
select,
textarea {
  outline: none;
}

.hamburger {
  display: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: "Inter-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

/*=====================================================*/

/* HEADER */

header {
  background-color: #022869;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .menu ul {
  display: flex;
}

header .container .menu ul li {
  padding-left: 22px;
}

header .container .menu ul li a {
  font-family: "Inter-Medium";
  font-weight: 500;
  line-height: 20px;
}

/*=====================================================*/

/* СЕКЦИЯ КАТЕГОРИИ */

.category_section {
  background-color: #022869;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
}

.category_section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category_section-left {
  padding: 12px 28px;
  background: #367af5;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter-Medium";
  font-weight: 500;
  line-height: 20px;
}

.category_section-left svg {
  margin-right: 12px;
}

.category_section-right {
  max-width: 497px;
  width: 100%;
}

.search_form {
  display: flex;
}

.search_form input {
  width: 100%;
  height: 39px;
  padding: 11px 15px;
  border-radius: 4px 0px 0px 4px;
}

.search_form input::placeholder {
  font-size: 14px;
  line-height: 17px;
}

.search_form button {
  font-size: 14px;
  line-height: 17px;
  padding: 10px;
  background: #367af5;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
}

/* БАННЕР */

.banner {
  background-color: #022869;
  padding: 95px 0 165px;
}

.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_left h1 {
  max-width: 538px;
  width: 100%;
  font-family: "Inter-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 125px;
}

.banner_left-wrapper {
  display: flex;
  align-items: center;
}

.banner_left-wrapper span {
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
}

.banner_left-wrapper p {
  max-width: 190px;
  width: 100%;
  margin-left: 28px;
  font-family: "Inter-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.banner_center-wrapper {
  margin-bottom: 245px;
}

.banner_center-wrapper a {
  line-height: 19px;
  color: #367af5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner_center-wrapper a.sell {
  margin-left: 43px;
}

.catalog {
  font-family: "Inter-Medium";
  background-color: #367af5;
  border-radius: 3px;
  padding: 16px 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.banner_right {
  position: relative;
}

.banner_right span {
  font-family: "Merriweather-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 20px;
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Отрасли промышленности  */

.industries {
  padding: 120px 0;
}

.industries .title {
  margin-bottom: 58px;
}

.industries_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
  flex-wrap: wrap;
}

.industries_items.bottom {
  justify-content: space-around;
}

.industries_item {
  max-width: 265px;
  width: 100%;
  padding: 30px;
  background: #f4f5fa;
  border-radius: 5px;
  transition: all 0.2s;
}

.industries_item:hover {
  background: #367af5;
}

.industries_item:hover .item_title {
  color: #fff;
}

.item_title {
  max-width: 205px;
  width: 100%;
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #022869;
  transition: all 0.2s;
  margin-bottom: 48px;
}

/* О нас */

.about_us {
  background: #f4f5fa;
}

.about_us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_us .container .title {
  margin-bottom: 20px;
}

.about_us-left p {
  max-width: 500px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/* Купить легко */

.buy_easy {
  padding: 120px 0;
}

.buy_easy .title {
  margin-bottom: 34px;
}

.subtitle {
  max-width: 408px;
  width: 100%;
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 60px;
}

.buy_easy-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buy_easy-item {
  max-width: 460px;
  width: 100%;
  background: #f4f5fa;
  border-radius: 5px;
  padding: 55px;
  margin: 15px;
}

.buy_easy-item h6 {
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 32px;
}

.buy_easy-item p {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/* Узнайте, как мы можем помочь вашему бизнесу */

.help {
  padding-bottom: 120px;
}

.help .container {
  display: flex;
  justify-content: space-between;
}

.help .container .title {
  max-width: 509px;
  width: 100%;
}

.help_form {
  max-width: 362px;
  width: 100%;
}

.help_form input {
  width: 100%;
  height: 72px;
  border: 1px solid rgba(55, 124, 253, 0.7);
  margin-bottom: 30px;
  padding: 24px;
  font-size: 20px;
  line-height: 24px;
}

.help_form input::placeholder {
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
}

.help_form button {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  background: #367af5;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 16px 24px;
  cursor: pointer;
}

/* Ответы на частые вопросы */

.questions {
  max-width: 754px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 120px;
}

.questions .title {
  text-align: center;
  margin-bottom: 30px;
}

.accordion_item {
  padding: 10px 0;
  border-top: 1px solid #7b7b7b;
}

.accordion_item:last-child {
  border-bottom: 1px solid #7b7b7b;
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion_header.active svg {
  transform: rotate(45deg);
  transition: all 0.2s;
}

.accordion_header span {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.accordion_header svg {
  transition: all 0.2s;
}

.accordion_content {
  max-width: 669px;
  width: 100%;
  display: none;
}

.accordion_content p:first-child {
  margin-bottom: 30px;
}

/* Подвал */

.footer {
  background: #022869;
  padding: 50px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer_title {
  font-family: "Inter-ExtraBold";
  color: #fff;
  margin-bottom: 10px;
  font-weight: 800;
}

.footer_nav-wrapper {
  display: flex;
}

.footer_nav-item {
  margin-right: 70px;
}

.footer_nav-item:last-child {
  margin-right: 0;
}

.footer_nav-item a {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.follow_us-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partner {
  text-align: center;
}

.partner a img {
  width: 68px;
  height: 68px;
}

/* Нижняя секция */

section.bottom {
  padding: 15px 0;
  background: #001f4d;
}

/* СТРАНИЦА КАТАЛОГ */

.bredcrumbs {
  padding: 20px 0 80px;
}

.bredcrumbs .container a,
.bredcrumbs .container span {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.bredcrumbs .container span {
  color: #808080;
}

.catalog_section .title {
  font-family: "Roboto-Medium";
  margin-bottom: 60px;
  text-align: center;
}

.catalog_item {
  border: none;
  padding: 0;
  margin-bottom: 10px;
}

.accordion_header.catalog_item-header.active img {
  transform: rotate(180deg);
  transition: all 0.2s;
}

.accordion_header.catalog_item-header img {
  transition: all 0.2s;
}

.catalog_item-header {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 8px 8px 8px 98px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.catalog_item-header h5 {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog_item-content {
  max-width: 100%;
  width: 100%;
  padding: 0 73px;
  border: 1px solid #000000;
  border-radius: 0px 0px 10px 10px;
  margin-top: -10px;
}

.catalog_item-content a:first-child {
  margin-top: 14px;
}

.catalog_item-content a {
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-left: 25px;
  position: relative;
  margin-bottom: 8px;
}

.catalog_item-content a::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../img/punkt.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.catalog_item-content a:hover {
  color: #367af5;
}

.catalog_item-content a:hover:before {
  display: block;
}

/*======================== 404 =============================*/

.page_404,
.politic {
  padding: 80px 0 120px;
}

.page_404 h2 {
  font-weight: normal;
  font-size: 48px;
  line-height: 140.62%;
  color: #000000;
  margin-bottom: 30px;
}

.page_404 p {
  max-width: 915px;
  width: 100%;
  font-size: 24px;
  line-height: 140.62%;
  color: #000000;
  margin-bottom: 30px;
}

.page_404 a {
  font-family: "Inter-Medium";
  background-color: #367af5;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 18px 46px;
}

/*========================== Политика ===========================*/

.politic h2 {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 48px;
  line-height: 140.62%;
  color: #000000;
  margin-bottom: 30px;
}

.politic p {
  font-size: 24px;
  line-height: 140.62%;
  color: #000000;
}

/*========================== Вход ===========================*/

.auth {
  padding: 0 0 120px;
}

.auth_wrapper {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
}

.enter_form {
  background-color: #022869;
  border-radius: 10px;
  padding: 45px 98px;
  margin-bottom: 20px;
}

.enter_form h3 {
  font-family: "Inter-ExtraBold";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 25px;
  text-align: center;
}

.enter_form-wrapper h5 {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.enter_form-wrapper input {
  border-radius: 5px;
  width: 100%;
  height: 41px;
  padding: 0 5px;
  margin-bottom: 25px;
}

.enter_form button {
  display: block;
  margin: 0 auto;
  font-family: "Inter-Medium";
  background: #367af5;
  border-radius: 10px;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 17px;
}

.enter_form a {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.auth_reg {
  text-align: center;
}

.auth_reg span,
.auth_reg a {
  font-family: "Inter-SemiBold";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.auth_reg a {
  font-family: "Inter-Medium";
  color: #367af5;
}

/*========================== Контактная информация ===========================*/

.contacts {
  padding: 80px 0 120px;
}

.contacts_wrapper {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}

.contacts_title {
  font-family: "Inter-SemiBold";
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #000000;
}

.contacts_subtitle {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 60px;
}

.contacts_content {
  display: flex;
  justify-content: space-between;
}

.contacts_item {
  margin-bottom: 18px;
}

.contacts_item h5 {
  font-family: "Inter-SemiBold";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.contacts_item a {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.contacts_content-right {
  max-width: 460px;
  width: 100%;
}

.question_form {
  background-color: #022869;
  border-radius: 10px;
  padding: 45px 35px;
}

.question_form-inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.question_form-inner span {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 4px;
}

.question_form-inner input,
.question_form-inner textarea {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  border-radius: 5px;
}

.question_form-inner textarea {
  height: 130px;
}

.question_form button {
  max-width: 265px;
  width: 100%;
  background-color: #367af5;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Inter-Medium";
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 2;
  margin: 0;
}

.close {
  display: none;
  font-size: 13px;
  text-align: right;
  margin: 5px 28px;
}

.modal .close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 2px;
  transform: rotate(45deg);
  transform-origin: center;
  background-color: #fff;
  border-radius: 1px;
}

.modal .close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 2px;
  transform: rotate(-45deg);
  transform-origin: center;
  background-color: #fff;
  border-radius: 1px;
}

.modal_wrapper {
  max-width: 560px;
  width: 100%;
  background-color: #022869;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 45px;
  margin: 0 10px;
}

.modal_title {
  font-family: "Inter-SemiBold";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 30px;
}

.modal_subtitle {
  text-align: left;
  max-width: 360px;
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 auto 30px;
}

.modal_btn {
  background-color: #367af5;
  border-radius: 10px;
  max-width: 105px;
  width: 100%;
  padding: 12px;
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

/*========================== Контактная информация ===========================*/

.reg_title {
  font-family: "Inter-ExtraBold";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.reg_subtitle {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

.reg_form-inner {
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
  background-color: #022869;
  border-radius: 10px;
  padding: 35px 30px;
  margin-bottom: 30px;
}

.reg_form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.reg_form-item:last-child {
  margin-bottom: 0;
}

.reg_form-item span {
  max-width: 170px;
  font-family: "Inter-Medium";
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.reg_form-item input {
  max-width: 362px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  padding: 5px;
}

.reg_btn {
  max-width: 225px;
  width: 100%;
  padding: 17px;
  background-color: #367af5;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Inter-Medium";
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin: 0 auto 15px;
  display: flex;
}

.reg_text {
  max-width: 360px;
  width: 100%;
  margin: 0 auto 120px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}

/* ================== ДОСТАВКА ======================= */

.about_delivery .container {
  color: #000;
  font-family: "Roboto-Medium";
}

.delivery_wrapper-title {
  font-size: 40px;
  line-height: 47px;
  font-weight: 500;
  margin: 80px 0 30px;
  text-align: center;
}

.delivery_wrapper-subtitle {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 15px;
  font-weight: 500;
}

.delivery_wrapper-text {
  max-width: 933px;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 60px;
}

.delivery_info {
  background-color: #f4f5fa;
}

.delivery_info-wrapper {
  display: flex;
}

.delivery_info-img {
  margin-right: 30px;
  padding: 17px 0;
}

.delivery_info-inner-title {
  line-height: 35px;
  font-size: 30px;
  margin: 53px 0 10px;
  font-weight: 500;
  font-family: "Roboto-Medium";
}

.deliver_info-material ul li {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid #000000;
  font-family: "Roboto-Medium";
}

.tech_support-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 77px 0 120px;
}

.tech_support-info {
  color: #000;
}

.tech_support-title {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 15px;
}

.tech_support-tel-title {
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter-SemiBold";
}

.tech_support-nummber a {
  font-size: 28px;
  line-height: 34px;
  color: #000;
  margin-bottom: 15px;
  font-family: "Inter-Regular";
}

.tech_support-mail-title {
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter-SemiBold";
}

.tech_support-mail a {
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter-Regular";
  color: #000;
}

.tech_support_form {
  text-align: center;
}

/* ==================== КАТЕГОРИЯ ТОВАРОВ ================ */

.catalog_product-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  font-family: "Roboto-Medium";
  text-align: center;
  margin-bottom: 60px;
}

.catalog_product_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog_product-card {
  padding: 20px 15px;
  border: 1px solid #000;
  border-radius: 10px;
  width: 269px;
  min-height: 357px;
  text-align: center;
  margin-bottom: 30px;
}

.catalog_product_subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto-Medium";
}

/* ===================каталог текст====================== */

.catalog_card_text {
  padding: 20px 10px;
  border: 1px solid #000;
  border-radius: 10px;
  width: 269px;
  min-height: 357px;
  text-align: center;
  margin-bottom: 30px;
  text-align: start;
}

.catalog_card_text ul li a {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto-Medium";
  margin-bottom: 5px;
}

.catalog_card_text ul li a:hover {
  color: #367af5;
}

.catalog_card_text ul .catalog_show a {
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #777777;
}


/* =============================price============================== */















/* ================================================== */
@media (max-width: 992px) {
  .hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    order: 1;
  }

  .hamburger.active .hamburger-inner,
  .hamburger.active .hamburger-inner::before,
  .hamburger.active .hamburger-inner::after {
    background-color: #000;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }

  .hamburger-inner::before {
    top: -10px;
  }

  .hamburger-inner::after {
    bottom: -10px;
  }

  .hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      opacity 0.1s linear;
  }

  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--collapse.active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .hamburger--collapse.active .hamburger-inner::after {
    top: 0;
    opacity: 1;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      opacity 0.1s 0.22s linear;
  }

  .hamburger--collapse.active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  header .menu {
    position: absolute;
    top: 81px;
    left: 0;
    z-index: 99;
    width: 80%;
    transform: translateX(-100%);
    transition: all 0.5s;
    background-color: #fe0;
    padding: 30px 0;
  }

  header .menu.active {
    transform: translateX(0);
  }

  header .menu ul {
    flex-direction: column;
    margin-bottom: 30px;
  }

  header .menu li {
    margin-bottom: 15px;
  }
}
