@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/Inter-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather-Bold";
  src: url("../fonts/Merriweather-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../fonts/Inter-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter-Regular", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

span {
  display: inline-block;
  color: #fff;
}

li {
  list-style: none;
}

input,
button,
select,
textarea {
  outline: none;
}

.hamburger {
  display: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: "Inter-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

/*=====================================================*/

/* HEADER */

header {
  background-color: #022869;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .menu ul {
  display: flex;
}

header .container .menu ul li {
  padding-left: 22px;
}

header .container .menu ul li a {
  font-family: "Inter-Medium";
  font-weight: 500;
  line-height: 20px;
}

/*=====================================================*/

/* СЕКЦИЯ КАТЕГОРИИ */

.category_section {
  background-color: #022869;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
}

.category_section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category_section-left {
  padding: 12px 28px;
  background: #367af5;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter-Medium";
  font-weight: 500;
  line-height: 20px;
}

.category_section-left svg {
  margin-right: 12px;
}

.category_section-right {
  max-width: 497px;
  width: 100%;
}

.search_form {
  display: flex;
}

.search_form input {
  width: 100%;
  height: 39px;
  padding: 11px 15px;
  border-radius: 4px 0px 0px 4px;
}

.search_form input::placeholder {
  font-size: 14px;
  line-height: 17px;
}

.search_form button {
  font-size: 14px;
  line-height: 17px;
  padding: 10px;
  background: #367af5;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
}

/* БАННЕР */

.banner {
  background-color: #022869;
  padding: 95px 0 165px;
}

.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_left h1 {
  max-width: 538px;
  width: 100%;
  font-family: "Inter-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 125px;
}

.banner_left-wrapper {
  display: flex;
  align-items: center;
}

.banner_left-wrapper span {
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
}

.banner_left-wrapper p {
  max-width: 190px;
  width: 100%;
  margin-left: 28px;
  font-family: "Inter-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.banner_center-wrapper {
  margin-bottom: 245px;
}

.banner_center-wrapper a {
  line-height: 19px;
  color: #367af5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner_center-wrapper a.sell {
  margin-left: 43px;
}

.catalog {
  font-family: "Inter-Medium";
  background-color: #367af5;
  border-radius: 3px;
  padding: 16px 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.banner_right {
  position: relative;
}

.banner_right span {
  font-family: "Merriweather-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 20px;
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Отрасли промышленности  */

.industries {
  padding: 120px 0;
}

.industries .title {
  margin-bottom: 58px;
}

.industries_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
  flex-wrap: wrap;
}

.industries_items.bottom {
  justify-content: space-around;
}

.industries_item {
  max-width: 265px;
  width: 100%;
  padding: 30px;
  background: #f4f5fa;
  border-radius: 5px;
  transition: all 0.2s;
}

.industries_item:hover {
  background: #367af5;
}

.industries_item:hover .item_title {
  color: #fff;
}

.item_title {
  max-width: 205px;
  width: 100%;
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #022869;
  transition: all 0.2s;
  margin-bottom: 48px;
}

/* О нас */

.about_us {
  background: #f4f5fa;
}

.about_us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_us .container .title {
  margin-bottom: 20px;
}

.about_us-left p {
  max-width: 500px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/* Купить легко */

.buy_easy {
  padding: 120px 0;
}

.buy_easy .title {
  margin-bottom: 34px;
}

.subtitle {
  max-width: 408px;
  width: 100%;
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 60px;
}

.buy_easy-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buy_easy-item {
  max-width: 460px;
  width: 100%;
  background: #f4f5fa;
  border-radius: 5px;
  padding: 55px;
  margin: 15px;
}

.buy_easy-item h6 {
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 32px;
}

.buy_easy-item p {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/* Узнайте, как мы можем помочь вашему бизнесу */

.help {
  padding-bottom: 120px;
}

.help .container {
  display: flex;
  justify-content: space-between;
}

.help .container .title {
  max-width: 509px;
  width: 100%;
}

.help_form {
  max-width: 362px;
  width: 100%;
}

.help_form input {
  width: 100%;
  height: 72px;
  border: 1px solid rgba(55, 124, 253, 0.7);
  margin-bottom: 30px;
  padding: 24px;
  font-size: 20px;
  line-height: 24px;
}

.help_form input::placeholder {
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
}

.help_form button {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  background: #367af5;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 16px 24px;
  cursor: pointer;
}

/* Ответы на частые вопросы */

.questions {
  max-width: 754px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 120px;
}

.questions .title {
  text-align: center;
  margin-bottom: 30px;
}

.accordion_item {
  padding: 10px 0;
  border-top: 1px solid #7b7b7b;
}

.accordion_item:last-child {
  border-bottom: 1px solid #7b7b7b;
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion_header.active svg {
  transform: rotate(45deg);
  transition: all 0.2s;
}

.accordion_header span {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.accordion_header svg {
  transition: all 0.2s;
}

.accordion_content {
  max-width: 669px;
  width: 100%;
  display: none;
}

.accordion_content p:first-child {
  margin-bottom: 30px;
}

/* Подвал */

.footer {
  background: #022869;
  padding: 50px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer_title {
  font-family: "Inter-ExtraBold";
  color: #fff;
  margin-bottom: 10px;
  font-weight: 800;
}

.footer_nav-wrapper {
  display: flex;
}

.footer_nav-item{
  margin-right: 70px;
}

.footer_nav-item:last-child{
  margin-right: 0;
}

.footer_nav-item a {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.follow_us-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Нижняя секция */

section.bottom {
  padding: 15px 0;
  background: #001f4d;
}

/*=====================================================*/

@media (max-width: 992px) {
  .hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    order: 1;
  }

  .hamburger.active .hamburger-inner,
  .hamburger.active .hamburger-inner::before,
  .hamburger.active .hamburger-inner::after {
    background-color: #000;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }

  .hamburger-inner::before {
    top: -10px;
  }

  .hamburger-inner::after {
    bottom: -10px;
  }

  .hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      opacity 0.1s linear;
  }

  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--collapse.active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .hamburger--collapse.active .hamburger-inner::after {
    top: 0;
    opacity: 1;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      opacity 0.1s 0.22s linear;
  }

  .hamburger--collapse.active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  header .menu {
    position: absolute;
    top: 81px;
    left: 0;
    z-index: 99;
    width: 80%;
    transform: translateX(-100%);
    transition: all 0.5s;
    background-color: #fe0;
    padding: 30px 0;
  }

  header .menu.active {
    transform: translateX(0);
  }

  header .menu ul {
    flex-direction: column;
    margin-bottom: 30px;
  }

  header .menu li {
    margin-bottom: 15px;
  }
}
